.well {
  @include transparent-background(255, 255, 255, 0.85);
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.btn-login {
	background-color: $bu-primary;
	color: $bu-secondary;
}

#login-spin {
	height: 100px;
	width: 100px;
}