/*  NAVBAR COMPONENETS */

.navbar-logo {
	height: 30px; 
	margin-top: -5px;
	margin-right: 10px;
}

.navbar-default .navbar-brand {
  color: $bu-secondary;
}

.navbar {
	background-color: $bu-primary;
	color: $bu-secondary;
}