@mixin transparent-background($r, $g, $b, $percent) {
	background: linear-gradient(
      rgba($r, $g, $b, $percent), 
      rgba($r, $g, $b, $percent)
    );
}

@mixin box-shadow($hor, $ver, $blur, $spread, $color) {
	-moz-box-shadow:    $hor $ver $blur $spread $color;
  	-webkit-box-shadow: $hor $ver $blur $spread $color;
  	box-shadow:         $hor $ver $blur $spread $color;
}

@mixin transition($length, $style) {
	transition-duration: $length;
	transition-timing-function: $style;
	-moz-transition-duration: $length;
	-moz-transition-timing-function: $style;
	-webkit-transition-duration: $length;
	-webkit-transition-timing-function: $style;
}